<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.choiyooq1.mapper.CenterMapper">
	<resultMap type="com.cafe24.choiyooq1.domain.Center" id="CenterMap">
		<result property="centerCode" column="center_code"/>
		<result property="centerName" column="center_name"/>
		<result property="centerId" column="center_id"/>
		<result property="centerPw" column="center_pw"/>
		<result property="centerManagerName" column="center_manager_name"/>
		<result property="centerManagerPhone" column="conter_manager_phone"/>
		<result property="centerPhone" column="center_phone"/>
		<result property="centerLocal" column="center_local"/>
		<result property="centerAdress" column="center_adress"/>
		<result property="serviceStartDate" column="service_start_date"/>
		<result property="serviceEndDate" column="service_end_date"/>
		<result property="serviceStatus" column="service_status"/>
		<result property="businessRegistrationNumber" column="business_registration_number"/>
		<result property="employer_name" column="employer_name"/>
	</resultMap>
	  <select id="checkLoginCenter" resultType="com.cafe24.choiyooq1.domain.Center" resultMap="CenterMap">
		 SELECT 
			center_code
			,center_id
			,center_pw
		FROM 
			center
		
  </select>
	
</mapper>