<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafe24.choiyooq1.mapper.CenterMapper">

 	<!-- //id는 MemberMapper(인터페이스)안에 있는 메서드 이름 -->
  
	<resultMap type="com.cafe24.choiyooq1.domain.Center" id="centerMap">
	  	<result property="centerListNumber" column="@rownum:=@rownum+1"/>
	  	<result property="centerCode" column="center_code"/>
	  	<result property="centerName" column="center_name"/>
	  	<result property="centerId" column="center_id"/>
	  	<result property="centerPw" column="center_pw"/>
	  	<result property="centerManagerName" column="center_manager_name"/>
	  	<result property="conterManagerPhone" column="conter_manager_phone"/>
	  	<result property="centerPhone" column="center_phone"/>
	  	<result property="centerLocal" column="center_local"/>
	  	<result property="centerAdress" column="center_adress"/>
	  	<result property="serviceStartDate" column="service_start_date"/>
	  	<result property="serviceEndDate" column="service_end_date"/>
	  	<result property="serviceStatus" column="service_status"/>
	  	<result property="businessRegistrationNumber" column="business_registration_number"/>
	  	<result property="employerName" column="employer_name"/>
	</resultMap>
	<select id="centerLoginCheck" resultType="java.util.List" resultMap="centerMap">
		<!-- 센터로그인을 위한 센터 번호와 아이디 비번 쳌 -->
		SELECT 
			center_code, 
			center_id, 
			center_pw, 
			service_start_date, 
			service_end_date, 
			service_status
		FROM 
			center
	</select>
  
   	<insert id="centerInsert" parameterType="com.cafe24.choiyooq1.domain.Center">
 		INSERT INTO center
			(center_code
			, center_name
			, center_id
			, center_pw
			, center_manager_name
			, conter_manager_phone
			, center_phone
			, center_local
			, center_adress
			, business_registration_number
			, employer_name)
		VALUES (#{centerCode}
				,#{centerName}
				,#{centerId}
				,#{centerPw}
				,#{centerManagerName}
				,#{conterManagerPhone}
				,#{centerPhone}
				,#{centerLocal}
				,#{centerAdress}
				,#{businessRegistrationNumber}
				,#{employerName});
 	</insert>
  	<select id="getCenterList" resultType ="com.cafe24.choiyooq1.domain.Center" resultMap="centerMap">
				SELECT 
			@rownum:=@rownum+1
			, center.*
		FROM center, (SELECT@rownum:=0)TMP;
	</select>
		<select id="centerSelectForUpdate" parameterType="String" resultMap="centerMap">
		<!-- 센터로그인을 위한 센터 번호와 아이디 비번 쳌 -->
		SELECT 
			* 
		FROM 
			center 
		WHERE 
			center_code=#{centerCode};
	</select>
	
	<update id="centerUpdate" parameterType="Center">
		UPDATE center
		SET
			center_code=#{centerCode},
			center_name=#{centerName},
			center_id=#{centerId},
			center_pw=#{centerPw},
			center_manager_name=#{centerManagerName},
			conter_manager_phone=#{conterManagerPhone},
			center_phone=#{centerPhone},
			center_local=#{centerLocal},
			center_adress=#{centerAdress},
			service_start_date=#{serviceStartDate},
			service_end_date=#{serviceEndDate},
			service_status=#{serviceStatus},
			business_registration_number=#{businessRegistrationNumber},
			employer_name=#{employerName}
		WHERE center_code=#{centerCode} 
	</update>
	
  </mapper>