<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafe24.choiyooq1.mapper.ElderMapper"> <!-- namespace="mapper 인터페이스 경로!!!!" -->
  
  <!-- 수급자 resultMap --> 
  <resultMap type="com.cafe24.choiyooq1.domain.ElderStatus" id="ElderStatusMap">
  	<result property="serviceStatusCode" column="service_status_code"/>
  	<result property="elderId" column="elder_id"/>
  	<result property="elderName" column="elder_name"/>
  	<result property="centerCode" column="center_code"/>
  	<result property="centerName" column="center_name"/>
  	<result property="serviceStatus" column="service_status"/>
  	<result property="serviceStartDate" column="service_start_date"/>
  	<result property="serviceEndDate" column="service_end_date"/>
  </resultMap>
  <insert id="insertStatus">
  	
  	INSERT INTO 
		elder_status
		
		(service_status_code, 
		center_code, 
		center_name, 
		elder_id, 
		elder_name, 
		service_status, 
		service_start_date, 
		service_end_date)
	VALUES 
		(#{serviceStatusCode}, #{centerCode}, #{centerName}, #{elderId}, #{elderName}, #{serviceStatus}, NOW(), #{serviceEndDate})
  </insert>
  
  
  <select id="getElderStatusMaxNum" resultType="int">
	SELECT 
		MAX(substring(service_status_code,14)) 
	from 
		elder_status
  </select>
  
  <select id="getElderFirtsStatusDate" resultMap="ElderStatusMap">
  	SELECT 
		MIN(service_start_date) as service_start_date
	FROM 
		elder_status
	WHERE 
		elder_id=#{elderId};
  
  </select>
  <select id="getElderLastStatus" resultMap="ElderStatusMap">
	SELECT 
		service_status_code, 
		center_code, 
		center_name, 
		elder_id, 
		elder_name, 
		service_status, 
		service_start_date, 
		MAX(service_end_date) as service_end_date
	FROM 
		elder_status
	WHERE 
		elder_id=#{elderId};
  
  </select>
  </mapper>