<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafe24.choiyooq1.mapper.VisitMapper">
  
    <resultMap type="com.cafe24.choiyooq1.domain.Elder" id="ElderMap">
	  	<result property="elderId" column="elder_id"/>
	  	<result property="elderName" column="elder_name"/>
	  	<result property="centerCode" column="center_code"/>	  	
	  	<result property="centerName" column="center_name"/>	  	
	  	<result property="elderBirthDate" column="elder_birthdate"/>
	  	<result property="elderGender" column="elder_gender"/>
	  	<result property="elderFinalServiceApprovalLevel" column="elder_final_service_approval_level"/>
	  	<result property="elderFinalServiceStatus" column="elder_final_service_status"/>
	  	<result property="elderDisease" column="elder_disease"/>
	  	<result property="elderCoinsurance" column="elder_coinsurance"/>
	  	<result property="totalVisits" column="total_visits"/>
	  	<result property="totalServiceTime" column="total_service_time"/>
	  	<result property="serviceLocalmanageCode" column="service_localmanage_code"/>
	  	<result property="serviceLocalmanageName" column="service_localmanage_name"/>
	  	<result property="longTermCareNumver" column="long_term_care_numver"/>
	  	<result property="longTermCareValidity" column="long_term_care_validity"/>
	  	<result property="elderPhone" column="elder_phone"/>
	  	<result property="elderAdressForStay" column="elder_adress_for_stay"/>
	  	<result property="elderAdressForPost" column="elder_adress_for_post"/>
	  	<result property="elderRemarks" column="elder_remarks"/>
	  	<result property="elderGroups" column="elder_groups"/>	
	  	<result property="benefitMaxCost" column="benefit_max_cost"/>	  		  		  		  		  		  		  		  		  		  		  		  		  		  	
    </resultMap>
    
     <resultMap type="com.cafe24.choiyooq1.domain.Visit" id="VisitMap">
	  	<result property="visitCode" column="visit_code"/>
	  	<result property="centerCode" column="center_code"/>
	  	<result property="centerName" column="center_name"/>	  	
	  	<result property="elderId" column="elder_id"/>	  	
	  	<result property="elderName" column="elder_name"/>
	  	<result property="employeeId" column="employee_id"/>
	  	<result property="employeeName" column="employee_name"/>
	  	<result property="visitPlanDate" column="visit_plan_date"/>
	  	<result property="visitPlanTime" column="visit_plan_time"/>
	  	<result property="visitServiceTime" column="visit_service_time"/>
	  	<result property="familyRelation" column="family_relation"/>
	  	<result property="visitServiceCategory" column="visit_service_category"/>
	  	<result property="monthlyClaimGroupCode" column="monthly_claim_group_code"/>
	  	<result property="description" column="description"/>
	  	<result property="yoyangBathNonBenefit" column="yoyang_bath_non_benefit"/>  
	  	<result property="serviceCategoryDetail" column="service_category_detail"/> 
	  	<result property="count" column="count"/> 	  		  		  		  		  		  		  		  		  		  	
    </resultMap>
    
     <resultMap type="com.cafe24.choiyooq1.domain.Employee" id="EmployeeMap">
	  	<result property="employeeId" column="employee_id"/>
	  	<result property="centerCode" column="center_code"/>
	  	<result property="centerName" column="center_name"/>	  	
	  	<result property="employeeName" column="employee_name"/>	  	
	  	<result property="employeePw" column="employee_pw"/>
	  	<result property="employeeCategory" column="employee_category"/>
	  	<result property="employeeGender" column="employee_gender"/>
	  	<result property="employeePersonalNumber" column="employee_personal_number"/>
	  	<result property="employeePhone" column="employee_phone"/>
	  	<result property="employeeStartDate" column="employee_start_date"/>
	  	<result property="employeeWorkingStatus" column="employee_working_status"/>
	  	<result property="employeeWorkingType" column="employee_working_type"/>
	  	<result property="employeePosition" column="employee_position"/>		  	
	  	<result property="employeePayType" column="employee_pay_type"/>		
	  	<result property="employeeHourlyPay" column="employee_hourly_pay"/>		
	  	<result property="employeeAccount" column="employee_account"/>		
	  	<result property="employeeAccountHolder" column="employee_account_holder"/>				  		  		  		  		  		  		  		  		  		  		  		  		  	
    </resultMap>
    
    
   <resultMap type="com.cafe24.choiyooq1.domain.BenefitCost" id="BenefitCostMap">
  	<result property="benefitCostCode" column="benefit_cost_code"/>
  	<result property="serviceCategory" column="service_category"/>
  	<result property="serviceTimeAndType" column="service_time_and_type"/>
  	<result property="benefitCostYear" column="benefit_cost_year"/>
  	<result property="benefitCost" column="benefit_cost"/>
  	<result property="nonBenefitCost" column="non_benefit_cost"/>
  </resultMap>
  
     
    <!-- 수급자 정보 목록 -->
  	<select id="elderAllList" parameterType="String" resultMap="ElderMap">
	     SELECT e.elder_final_service_approval_level as elder_final_service_approval_level,
	     	e.elder_id as elder_id, e.elder_name as elder_name, e.elder_disease as elder_disease, 
	     	e.elder_final_service_status as elder_final_service_status, e.elder_gender, e.elder_birthdate,
	    	 b.benefit_max_cost as benefit_max_cost
	     FROM elder AS e INNER JOIN benefit_max AS b 
	     	ON e.elder_final_service_approval_level = b.service_level 
	     	AND benefit_max_year= date_format(NOW(), '%Y') 
	     WHERE center_code= #{centerCode}
    </select>
  
  <!-- 수급자 서비스 내용 -->
  	<select id="elderBenefitCost" parameterType="String" resultMap="VisitMap">
		select visit_service_category, monthly_claim_group_code, visit_service_time, visit_plan_date
		from visit WHERE elder_id=#{elder_id}
			AND monthly_claim_group_code=CONCAT(#{syear},'-',#{smoth}) ORDER by visit_plan_date
  	</select>
  	
   <!-- 서비스 종류별 금액 -->
   <select id="serviceCost" parameterType="String" resultMap="BenefitCostMap">
		select * FROM benefit_cost WHERE benefit_cost_year = ${syear}
		AND service_time_and_type = #{stype} AND service_category LIKE CONCAT('%', #{scategory})
   </select>

   <!-- 직업별 직원  -->
  	<select id="empCategory" parameterType="String" resultMap="EmployeeMap">
  		SELECT employee_id, employee_name FROM employee 
  		WHERE center_code=#{centerCode} AND employee_category LIKE CONCAT('%', #{empcategory}, '%')
  	</select>
  	
  	<!-- 직원 목록  -->
  	<select id="emplyeeList" parameterType="String" resultMap="EmployeeMap">
  	
		SELECT  employee_id, employee_name, employee_category, employee_phone, employee_working_status, employee_gender 
		FROM employee WHERE center_code = #{centerCode}
			AND employee_category LIKE '%간호%' or employee_category like '%요양%'  	
  	</select>
  	
  	<!-- 날짜, 시간으로 직원 검색 0-->
  	<select id="emplyeeDayCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM visit WHERE 
			<![CDATA[ convert(REPLACE(SUBSTRING_INDEX(visit_plan_time, '~', 1),':',''), SIGNED INTEGER)  > #{strattime} ]]>
			<![CDATA[ AND convert(REPLACE(SUBSTRING_INDEX(visit_plan_time, '~', -1),':',''), SIGNED INTEGER)  < #{lasttime} ]]>
		AND employee_id = #{emplyeeId} AND visit_plan_date = #{date}
  	</select>
  	
  	
<!--  일정등록 -->
  	<insert id="visitInsert" parameterType="Visit">
	     <selectKey resultType="String" keyProperty="visitCode" order="BEFORE">
			SELECT CONCAT('a', '_', (select LPAD(MAX(CONVERT(REPLACE(visit_code, 'a_00000', ''), SIGNED INTEGER))+1 ,7 ,'0') as visit_code FROM visit))
	     </selectKey>
       		
		 INSERT INTO visit (visit_code, center_code, center_name, elder_id, elder_name, 
				employee_id, employee_name, visit_plan_date, 
				visit_plan_time, visit_service_time, family_relation, 
				visit_service_category, monthly_claim_group_code,
				description, yoyang_bath_nonBenefit) 
			VALUE (#{visitCode},
				#{centerCode}, #{centerName}, #{elderId}, #{elderName}, #{employeeId}, #{employeeName},
				#{visitPlanDate}, #{visitPlanTime}, #{visitServiceTime}, #{familyRelation},
				#{visitServiceCategory}, #{monthlyClaimGroupCode}, #{description}, #{yoyangBathNonBenefit})
  	</insert>  	
  	
	<!-- 	일정등록 후 캘린더에 보여주기 -->
  	<select id="vCalenderList" parameterType="String" resultMap="VisitMap">
		SELECT visit_code, elder_id, elder_name, employee_name, visit_plan_date, visit_plan_time, 
			visit_service_time, visit_service_category, description
		from visit WHERE elder_id=#{elderId}
  	</select>  	
  	
  	 <!-- 센터별 직원 목록 -->
  	<select id="centerempCategory" parameterType="String" resultMap="EmployeeMap">
		SELECT  employee_id, employee_name, employee_category, employee_phone, employee_working_status, employee_gender 
		FROM employee WHERE center_code = #{centerCode}
			AND employee_category LIKE '%간호%' or employee_category like '%요양%'  	
  	</select>
  	
	<!--   일정 업데이트 -->
	<update id="visitUpdate" parameterType="Visit">
		UPDATE visit SET employee_id= #{employeeId}, employee_name=#{employeeName}, visit_plan_date=#{visitPlanDate}, visit_plan_time=#{visitPlanTime}, visit_service_time=#{visitServiceTime}, visit_service_category=#{visitServiceCategory}, 
			monthly_claim_group_code=#{monthlyClaimGroupCode}, description=#{description}, yoyang_bath_nonBenefit=#{yoyangBathNonBenefit} 
		 where visit_code=#{visitCode} 
	</update>
	
	<!--   일정 삭제 -->
	<delete id="visitDelete" parameterType="String">
		DELETE FROM visit WHERE visit_code =#{visitCode}
	</delete>	
  </mapper>