<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<th:block layout:fragment="customContents">
	<H1>배포일자 2020-03-17 17:00</H1>
	
</th:block>
<th:block layout:fragment="customPlugin">
	<!--jQuery -->
            <script src="/assets/lib/jquery/jquery.js"></script>
			
            <!--Bootstrap -->
            <script src="/assets/lib/bootstrap/js/bootstrap.js"></script>
            <!-- MetisMenu -->
            <script src="/assets/lib/metismenu/metisMenu.js"></script>
            <!-- onoffcanvas -->
            <script src="/assets/lib/onoffcanvas/onoffcanvas.js"></script>
            <!-- Screenfull -->
            <script src="/assets/lib/screenfull/screenfull.js"></script>
            <!-- Metis core scripts -->
            <script src="/assets/js/core.js"></script>
            <!-- Metis demo scripts -->
            <script src="/assets/js/app.js"></script>
            <script src="/assets/js/style-switcher.js"></script>
</th:block>

</html>