<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<!-- 사용자css -->
<th:block layout:fragment="customCss">

   <link rel="stylesheet" href="/assets/lib/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="/vendor/css/fullcalendar.min.css" />
<!--     <link rel="stylesheet" href="/vendor/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/vendor/css/select2.min.css" />
    <link rel="stylesheet" href="/vendor/css/bootstrap-datetimepicker.min.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/vendor/css/main.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css">
		
<!--    <link rel="stylesheet" href="/assets/css/table_tab.css">			 -->

</th:block>
		
<th:block layout:fragment="customContents" >
	 <header class="head" >
		<div class="main-bar">
			<h3>
				<i class="fa fa-calendar">&nbsp; 방문일정등록</i>
			</h3>
		</div>
	</header>
	<div class="outer">
		<div class="inner bg-light lter">
			<!--Begin Datatables-->
			<div class="row">
				<!--수급자 목록-->
				<div class="col-lg-6">
					<div class="box">
						<header>
							<div class="icons">
								<i class="fa fa-table"></i>
							</div>
							<h5>수급자 목록</h5>
						</header>
						<div id="collapse4" class="body">
							<table id="dataTable"
								class="table table-bordered table-condensed table-hover sortableTable">
								<thead>
									<tr>
										<th>상태</th>
										<th>이름</th>
										<th>등급</th>
										<th>질병구분</th>
										<th>수가한도</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="g: ${list}">
										<td th:text="${g.elderFinalServiceStatus}"></td>
										<td><a href="javascript:void(0)" class="eldername" th:data-elder-id="${g.elderId}" 
										th:max-cost="${g.benefitMaxCost}" th:cname="${g.elderName}">[[${g.elderName}]]</a></td>
										<td th:text="${g.elderFinalServiceApprovalLevel}"></td>
										<td th:text="${g.elderDisease}"></td>
										<td th:text="${g.benefitMaxCost}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--/수급자 목록-->
				<div class="col-lg-6">
					<!--수급자 제공급여 요약-->
					<div class="box">
						<header>
							<div class="icons">
								<i class="fa fa-table"></i>
							</div>
							<h5>수급자 제공급여 요약</h5>
						</header>

						<div id="collapse4" class="body">
								<!-- /.col-lg-6 -->
							<div class="row form-group">	 
								<div class="col-lg-5">
<!-- 								<form method="post" class="yearserch"> -->
									<select name ="syear" class="autotab input-sm" id="syear">
										<option th:value="2020">2020</option>
										<option th:value="2019">2019</option>
										<option th:value="2018">2018</option>
									</select>
									<select name ="smonth" class="autotab input-sm" id="smonth">
									<th:block th:each="num: ${#numbers.sequence(1,12)}">
										<option th:value="${num}">[[${num}]]</option>
									</th:block>
									</select>
									<input type="hidden" name="elderId">
									<input type="hidden" name="maxcost">
									<button type="button" class="btn btn-primary btn-sm" id="yearSearch">검색</button>
<!-- 								</form>							 -->
							    </div>
									<div style="align:right;">
										<span><b>이름:  </b></span>
										<span id="ycname"></span>
									</div>								
								</div>

							<!-- /.row -->
							<!-- /.col-lg-6 -->

								<div id="collapse4" class="body">
									<table
										class="table table-bordered table-condensed table-hover table-striped">
										<thead>
											<tr>
												<th>급여한도</th>
												<th id="maxCost" class="trigth"></th>
												<th>급여 잔액</th>
												<th id="mixCost" class="trigth"></th>
											</tr>
										</thead>
										<tbody>
											<tr id="row1">
												<td><b>구분</b></td>
												<td><b>횟수</b></td>
												<td><b>급여계</b></td>
												<td><b>본인부담</b></td>
<!-- 												<td><b>비급여+초과</b></td> -->
											</tr>
											<tr>
												<td><b>요양</b></td>
												<td id="yoyangInt" class="trigth"></td>
												<td id="bcost1" class="trigth"></td>
												<td id="mcoat1" class="trigth"></td>
<!-- 												<td></td> -->
											</tr>
											<tr>
												<td><b>목욕</b></td>
												<td id="bathInt" class="trigth"></td>
												<td id="bcost2" class="trigth"></td>
												<td id="mcoat2" class="trigth"></td>
<!-- 												<td></td> -->
											</tr>
											<tr>
												<td><b>간호</b></td>
												<td id="nurseInt" class="trigth"></td>
												<td id="bcost3" class="trigth"></td>
												<td id="mcoat3" class="trigth"></td>
											</tr>																						
											<tr>
												<td><b>계</b></td>
												<td id="tolnum" class="trigth"></td>
												<td id="tolnum2" class="trigth"></td>
												<td id="tolnum3" class="trigth"></td>
<!-- 												<td></td> -->
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
							<!--/수급자 제공급여 요약-->
							
						<!-- 일정 등록 탭
						<div class="box">
							<header>
								<div class="icons">
									<i class="fa fa-table"></i>
								</div>
								<h5>일정등록</h5>
								<div class="toolbar">
									<div class="btn-group">
										<a href="#defaultTable" data-toggle="collapse"
											class="btn btn-sm">
										</a>
									</div>
								</div>
							</header>
							<div id="collapse4" class="body">

          hjghghjgjhgjgjhgjhgjg
							</div>
						</div>
						-->
						<!--/수급자 제공급여 요약-->							
							
				</div>									
			</div>

			<!-- /.row -->
			<!--End Datatables-->

			<!--방문등록  -->

	        <!-- 일자 클릭시 메뉴오픈 -->
	        <div id="contextMenu" class="dropdown clearfix">
	            <ul class="dropdown-menu dropNewEvent" role="menu" aria-labelledby="dropdownMenu"
	                style="display:block;position:static;margin-bottom:5px;">
	                <li><a tabindex="-1" href="javascript:void(0)" class="serviceMenu" th:empcategory="요양" th:empservice="요양">방문요양</a></li>
	                <li><a tabindex="-1" href="javascript:void(0)" class="serviceMenu" th:empcategory="요양" th:empservice="목욕">방문목욕</a></li>
	                <li><a tabindex="-1" href="javascript:void(0)" class="serviceMenu" th:empcategory="간호" th:empservice="간호">방문간호</a></li>
	                <li class="divider"></li>
	                <li><a tabindex="-1" href="#" data-role="close">Close</a></li>
	            </ul>
	        </div>
	
	        <div id="wrapper">
	            <div id="loading"></div>
	            <div id="calendar"></div>
	        </div>
	
			<!-- 일정 등록 폼 -->
	        <!-- 일정 추가 MODAL -->
	        <div class="modal fade" tabindex="-1" role="dialog" id="eventModal" >
	            <div class="modal-dialog" role="document">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
	                                aria-hidden="true">&times;</span></button>
	                        <h4 class="modal-title"></h4>
	                    </div>
	                    <div class="modal-body"> 
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <label class="col-xs-4">비급여 체크</label>
	                                <input class='allDayNewEvent' id="yoyangBathNonBenefit" type="checkbox" name="yoyangBathNonBenefit" />
	                            </div>
	                        </div>
	
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <label class="col-xs-4">날짜</label>
	                                <input class="inputModal" type="text" name="visitPlanDate" id="visitPlanDate" />
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <label class="col-xs-4" for="edit-end">시간</label>
	                                <input class="inputModal" type="text"  id="editTime1"  style="width: 25%;"/> -
	                                <input class="inputModal" type="text" id="editTime2" style="width:25%;"/>&nbsp;&nbsp;
	                                <input type="text" id="editTime3" style="width:11%;"/>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <label class="col-xs-4">요양사 선택</label>
	                                <select class="inputModal" name="employeeId" id="employeeId"></select>
	                            </div>
	                        </div>	                        
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <label class="col-xs-4" for="edit-type">구분</label>
	                                <select class="inputModal" name="serviceCategoryDetail" id="serviceCategoryDetail">
	                                </select>
	                            </div>
	                        </div>
<!-- 	                        <div class="row">
	                            <div class="col-xs-12">
	                                <label class="col-xs-4" for="edit-color">색상</label>
	                                <select class="inputModal" name="backgroundColor" id="backgroundColor">
	                                    <option value="#D25565" style="color:#D25565;">빨간색</option>
	                                    <option value="#9775fa" style="color:#9775fa;">보라색</option>
	                                    <option value="#ffa94d" style="color:#ffa94d;">주황색</option>
	                                    <option value="#74c0fc" style="color:#74c0fc;">파란색</option>
	                                    <option value="#a9e34b" style="color:#a9e34b;">초록색</option>
	                                </select>
	                            </div>
	                        </div> -->
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <label class="col-xs-4" for="description">비고</label>
	                                <textarea rows="4" cols="50" class="inputModal" name="editDesc"
	                                    id="editDesc"></textarea>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="modal-footer modalBtnContainer-addEvent">
	                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
	                        <button type="button" class="btn btn-primary" id="save-event">저장</button>
	                    </div>
	                    <div class="modal-footer modalBtnContainer-modifyEvent">
	                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	                        <button type="button" class="btn btn-danger" id="deleteEvent">삭제</button>
	                        <button type="button" class="btn btn-primary" id="updateEvent">저장</button>
	                    </div>
	                </div><!-- /.modal-content -->
	            </div><!-- /.modal-dialog -->
	        </div><!-- /.modal -->
			<!-- /일정 등록 폼 -->
 		</div>
 		<!--
	        <div class="panel panel-default">
	
	            <div class="panel-heading"  >
	                <h3 class="panel-title">  ㅇ</h3>
	            </div>

	        </div>
	        -->
	        <!-- /.filter panel -->
	    </div>
	    <!-- /.container -->

		<!-- /방문등록  -->
	<!-- /.outer -->
</th:block>

<th:block layout:fragment="customPlugin">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script src="/vendor/js/visit.js"></script> -->
	<script src="/vendor/js/calenderInsert.js"></script>		

	<!--jQuery -->
<!-- 	<script src="/assets/lib/jque/ry/jq/uery.js"></script> -->
	
	<!-- Tables -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="/assets/js/jquery.dataTables.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
	
	<!-- 움직임 관련  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.6/js/jquery.tablesorter.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

	<!-- 캘린더 -->
<!--      <script src="/vendor/js/jquery.min.js"></script>  //Search 안나옴 -->
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script src="/vendor/js/moment.min.js"></script>
    <script src="/vendor/js/fullcalendar.min.js"></script>
    <script src="/vendor/js/ko.js"></script>
    <script src="/vendor/js/select2.min.js"></script>
    <script src="/vendor/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/vendor/js/main.js"></script>
    <script src="/vendor/js/addEvent.js"></script>
    <script src="/vendor/js/editEvent.js"></script>
    <script src="/vendor/js/etcSetting.js"></script>

	<!--Bootstrap -->
	<script src="/assets/lib/bootstrap/js/bootstrap.js"></script>
	<!-- MetisMenu -->
	<script src="/assets/lib/metismenu/metisMenu.js"></script>
	<!-- onoffcanvas -->
	<script src="/assets/lib/onoffcanvas/onoffcanvas.js"></script>
	<!-- Screenfull -->
	<script src="/assets/lib/screenfull/screenfull.js"></script>

	<!-- Metis core scripts -->
	<script src="/assets/js/core.js"></script>
	<!-- Metis demo scripts -->
	<script src="/assets/js/app.js"></script>
<!-- 	<script src="/assets/lib/metismenu/table_tab.js"></script> -->
	<script>
		$(function() {
			//Metis.MetisCalendar();
			Metis.MetisTable();
			//Metis.metisSortable();
		});
	</script>
	<script src="/assets/js/style-switcher.js"></script>
</th:block>
</html>