<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>index</title>

</th:block>

<th:block layout:fragment="customContents">

<body>
	<div class="bg-dark dk" id="wrap">
		<div id="top">
			<header class="head">
				<div class="main-bar">
					<h3><i class="fa fa-table"></i>&nbsp;수급자 등록 </h3>
				</div>
         	</header>
		</div>
	</div>
<div class="outer">
	<div class="inner bg-light lter">
			<div class="row">
				<div class="col-lg-12">
				    <div class="box">
				        <header>
				            <div class="icons"><i class="fa fa-edit"></i></div>
				            <h5>수급자 상세 정보를 입력해주세요</h5>
				            <!-- .toolbar -->
				            <div class="toolbar">
				              <nav style="padding: 8px;">
				              </nav>
				            </div>
				        </header>
				        <div id="div-1" class="body">
<!-- form -->
				            <form class="form-horizontal">
				                <div class="form-group">
				                    <label for="text1" class="control-label col-lg-4">아이디</label>
				                    <div class="col-lg-3">
				                        <input type="text" class="form-control">
				                    </div>
				                </div>
				                <!-- /.form-group -->
				                   <div class="form-group">
				                    <label for="text1" class="control-label col-lg-4">이름</label>
				
				                    <div class="col-lg-3">
				                        <input type="text" class="form-control">
				                    </div>
				                </div>
				                <!-- /.form-group -->
				
				                <div class="form-group">
				                    <label for="pass1" class="control-label col-lg-4">비밀번호</label>
				
				                    <div class="col-lg-3">
				                        <input class="form-control" type="password" 
				                               data-original-title="Please use your secure password" data-placement="top"/>
				                    </div>
				                </div>
				                <!-- /.form-group -->
				                <div class="form-group">
				             <label class="control-label col-lg-4">등급선택</label>
				                <div class="col-lg-3">
				                    <select class="form-control">
				                        <option value="">등급</option>
				                        <option value="1">1등급</option>
				                        <option value="2">2등급</option>
				                        <option value="3">3등급</option>
				                        <option value="4">4등급</option>
				                        <option value="5">5등급</option>
				                        <option value="등급외">등급외</option>
				                        <option value="인지지원">인지지원</option>
				                    </select>
				                </div>
				            </div>
				            <!-- /.form-group -->
				            <div class="form-group">
				                         <label class="control-label col-lg-4">성별</label>
				                        <div class="col-lg-3">
				                            <div class="checkbox">
				                                <label>
				                                    <input class="uniform" type="radio" name="수급자성별선택" value="남" checked>남
				                                </label>
				                            </div>
				                            <!-- /.checkbox -->
				                            <div class="checkbox">
				                                <label>
				                                    <input class="uniform" type="radio" name="수급자성별선택" value="여">여
				                                </label>
				                            </div>
				                       </div>
				                  </div>  
				                  <!-- /.form-group -->
				
				                <div class="form-group">
				                    <label for="text2" class="control-label col-lg-4">주민등록번호</label>
				
				                    <div class="col-lg-3">
				                        <input type="text" placeholder="000000-0000000" class="form-control">
				                    </div>
				                </div>
				                <!-- /.form-group -->
				             <div class="form-group">
				                    <label for="text2" class="control-label col-lg-4">연락처(수급자)</label>
				
				                    <div class="col-lg-3">
				                        <input type="text" placeholder="000-000-0000" class="form-control">
				                    </div>
				                </div>
				                <!-- /.form-group -->
				                <div class="form-group">
				             <label class="control-label col-lg-4">질병구분</label>
				                <div class="col-lg-3">
				                    <select class="form-control">
				                        <option value="">==선택==</option>
				                        <option value="치매">치매</option>
				                        <option value="중풍">중풍</option>
				                        <option value="파킨슨병">파킨슨병</option>         
				                        <option value="기타">기타</option>         
				                    </select>
				                </div>
				            </div>
				            <!-- /.form-group -->
				             <!-- /.form-group -->
				                <div class="form-group">
				             <label class="control-label col-lg-4">본인부담률</label>
				                <div class="col-lg-3">
				                    <select class="form-control">
				                        <option value="">==본인부담==</option>
				                        <option value="15">일반(15%)</option>
				                        <option value="7.5">의료(7.5%)</option>
				                        <option value="">기초(0%)</option>
				                        <option value="7.5">감경(7.5%)</option>
				                        <option value="6">감경60%(6%)</option>
				                        <option value="9">감경40%(7.5%)</option>
				                        <option value="6">의료(6%)</option>
				                    </select>
				                </div>
				            </div>
				            <!-- /.form-group -->
				                 <div class="form-group">
				            <label for="text2" class="control-label col-lg-4">보장기관</label>
				                    <div class="col-lg-3">
				                        <input type="text" class="form-control">
				                    </div>
										<button type="button" data-toggle="modal"
											data-target="#myModal" class="btn btn-default btn-defualt btn-line">
											<span class="ui-button-text">보장기관 검색</span>
										</button>
								</div>
				            <!-- /.form-group -->
				            <div class="form-group">
				                    <label for="text1" class="control-label col-lg-4">장기요양인정번호</label>
				                    <div class="col-lg-3">
				                        <input type="text" class="form-control">
				                    </div>
				                </div>
				                <!-- /.form-group -->
				            	<div class="form-group">
				              		<label class="control-label col-lg-4">장기요양인정유효기간</label>
									<div class="col-lg-3">
											<div class="input-group input-append">
											<input class="form-control date" type="text" placeholder="0000-00-00"> 
											<span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
											</div>
											~
											<div class="input-group input-append">
											<input class="form-control date" type="text" placeholder="0000-00-00"> 
											<span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
											</div>
									</div>
								</div>
				            <!-- /.form-group -->
				                <div class="form-group">
				                    <label for="limiter" class="control-label col-lg-4">기타정보</label>
				
				                    <div class="col-lg-3">
				                        <textarea class="form-control"></textarea>
				                    </div>
				                </div>
				                <!-- /.row -->
								<div class="form-group">
									<div class="form-actions">
										<label for="text1" class="control-label col-lg-5"></label>

										<div class="col-lg-3">
											<input type="submit" value="등록하기" class="btn btn-primary">
										</div>
									</div>
								</div>
								<!-- /.form-group -->
					<!-- 등급 및 인정기간 관리  Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" style="text-align: center; margin-top: 150px" >
					  <div class="modal-dialog modal-lg">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h2 class="modal-title" id="myModalLabel">보장기관 검색</h2>
					      </div>
					      <div class="modal-body text-right">
					      <input class="input-sm" type="text" placeholder="검색"/>
					      <button class="btn btn-primary btn-sm" type="button" >검색</button>
								<div class="row">
									<div id="collapse4" class="col-sm-12">
										<table id="dataTable"
											class="table table-bordered table-condensed table-hover table-striped" style="text-align: center;">
											<thead>
												<tr>
													<th>지역</th>
													<th>보장기관 번호</th>
													<th>기관명</th>
													<th>전화번호</th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd">
													<td>강원</td>
													<td>4200000</td>
													<td>강릉시청</td>
													<td>640-2320</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
					      </div>
					    </div>
					  </div>
					</div>
					<!-- 등급관리 model End -->
							</form>
				        </div>
				    </div>
			</div>
		</div>
	</div>
</div>
</body>
</th:block>
<th:block layout:fragment="customPlugin">

			<!--jQuery -->
            <script src="/assets/lib/jquery/jquery.js"></script>
            <!--Bootstrap -->
            <script src="/assets/lib/bootstrap/js/bootstrap.js"></script>
            <!-- MetisMenu -->
            <script src="/assets/lib/metismenu/metisMenu.js"></script>
            <!-- onoffcanvas -->
            <script src="/assets/lib/onoffcanvas/onoffcanvas.js"></script>
            <!-- Screenfull -->
            <script src="/assets/lib/screenfull/screenfull.js"></script>
            <!-- Metis core scripts -->
            <script src="/assets/js/core.js"></script>
            
            <!-- 날짜 입력때문에 추가한거. -->
			<link rel="stylesheet" href="/assets/lib/jquery/jquery-ui.min.css" type="text/css" />  
			<script src="/assets/lib/jquery/jquery.min.js"></script>  
			<script src="/assets/lib/jquery/jquery-ui.min.js"></script>
			<script src="/assets/lib/jquery/datepicker-ko.js"></script>
			<!-- 날짜 입력때문에 추가한거. -->
<script>

	//date클래스에 datepicker 넣기
	$(function() {
	    $( ".date" ).datepicker({
	    	
	    });
	});
	//달력 유효성검사.
	$( ".date" ).change(function(){
		if($('.date').eq(1).val() != "" && $('.date').eq(0).val() >= $('.date').eq(1).val()){
				alert('유효기간 이 시간시간보다 짧거나 같을수 없습니다.');
				$('.date').eq(1).val("")
		    }
	})
	
</script>
</th:block>

</html>