<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>index</title>

</th:block>
<th:block layout:fragment="customContents">
<div class="outer">
	<div class="inner bg-light lter">
		<div class="row">
			<div class="col-lg-12 ui-sortable">
					<div class="box ui-sortable-handle"
						style="position: relative; left: 0px; top: 0px;">
						<header>
							<div class="icons">
								<i class="fa fa-table"></i>
							</div>
							<h5>수급자 리스트</h5>
						</header>
						<div id="collapse4" class="body">
							<div id="dataTable_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap no-footer">
								<div class="row">
									<div class="col-sm-6">
										<div class="dataTables_length" id="dataTable_length">
											<label>그룹별
												<select name="dataTable_length" aria-controls="dataTable" class="form-control input-sm">
													<option value="A">A</option>
													<option value="B">B</option>
													<option value="C">C</option>
												</select>
											</label>
										</div>
									</div>
									<div class="col-sm-6">
										<div id="dataTable_filter" class="dataTables_filter">
											<label>Search:
												<input type="search"
												class="form-control input-sm" placeholder=""
												aria-controls="dataTable">
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table id="dataTable"
											class="table table-bordered table-condensed table-hover table-striped dataTable no-footer"
											role="grid" aria-describedby="dataTable_info">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0" aria-controls="dataTable"
														rowspan="1" colspan="1"
														aria-label="Rendering engine: activate to sort column descending"
														style="width: 286px;" aria-sort="ascending">
													수급자코드
													</th>
													<th class="sorting" tabindex="0" aria-controls="dataTable"
														rowspan="1" colspan="1"
														aria-label="Browser: activate to sort column ascending"
														style="width: 348px;">
													수급자이름
													</th>
													<th class="sorting" tabindex="0" aria-controls="dataTable"
														rowspan="1" colspan="1"
														aria-label="Platform(s): activate to sort column ascending"
														style="width: 321px;">
													생년월일
													</th>
													<th class="sorting" tabindex="0" aria-controls="dataTable"
														rowspan="1" colspan="1"
														aria-label="Engine version: activate to sort column ascending"
														style="width: 249px;">
													성별
													</th>
													<th class="sorting" tabindex="0" aria-controls="dataTable"
														rowspan="1" colspan="1"
														aria-label="CSS grade: activate to sort column ascending"
														style="width: 186px;">
													등급
													</th>
													<th class="sorting" tabindex="0" aria-controls="dataTable"
														rowspan="1" colspan="1"
														aria-label="CSS grade: activate to sort column ascending"
														style="width: 186px;">
													계약일
													</th>
													<th class="sorting" tabindex="0" aria-controls="dataTable"
														rowspan="1" colspan="1"
														aria-label="CSS grade: activate to sort column ascending"
														style="width: 186px;">
													인정만료일
													</th>
												</tr>
											</thead>
											<tbody>
												<tr role="row" class="odd">
													<td class="sorting_1">수급자코드</td>
													<td>수급자이름</td>
													<td>생년월일</td>
													<td>성별</td>
													<td>등급</td>
													<td>계약일</td>
													<td>인정만료일</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="dataTables_info" id="dataTable_info" role="status"
											aria-live="polite">
											Showing 1 to 10 of 57 entries
										</div>
									</div>
									<div class="col-sm-6">
										<div class="dataTables_paginate paging_simple_numbers"
											id="dataTable_paginate">
											
											<ul class="pagination">
												<li class="paginate_button previous disabled"
													aria-controls="dataTable" tabindex="0" id="dataTable_previous">
													<a href="#">Previous</a> </li>
												<li class="paginate_button active" aria-controls="dataTable"
													tabindex="0"><a href="#">1</a></li>
												<li class="paginate_button " aria-controls="dataTable"
													tabindex="0"><a href="#">2</a></li>
												<li class="paginate_button " aria-controls="dataTable"
													tabindex="0"><a href="#">3</a></li>
												<li class="paginate_button " aria-controls="dataTable"
													tabindex="0"><a href="#">4</a></li>
												<li class="paginate_button " aria-controls="dataTable"
													tabindex="0"><a href="#">5</a></li>
												<li class="paginate_button " aria-controls="dataTable"
													tabindex="0"><a href="#">6</a></li>
												<li class="paginate_button next" aria-controls="dataTable"
													tabindex="0" id="dataTable_next"><a href="#">Next</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
								<div class="col-lg-12 ui-sortable">
									<div class="box ui-sortable-handle">
										<header>
												<div class="icons">
													<i class="fa fa-table"></i>
												</div>
											<h5>수급자 상세 정보</h5>
											<div class="toolbar">
												<div class="btn-group">
													<a href="#defaultTable" data-toggle="collapse"
														class="btn btn-sm btn-default minimize-box"> <i
														class="fa fa-angle-up"></i>
													</a>
												</div>
											</div>
										</header>
										<div id="defaultTable" class="body collapse in">
									<table class="table responsive-table">
										<tbody>
											<tr>
												<th>수급자명</th>
												<td>
													<div>나수급</div>
												</td>
												<th>성별</th>
												<td>여 (만 86세)</td>
												<th>생년월일</th>
												<td>1933.04.13</td>
											</tr>
											<tr>
												<th>최초입소일</th>
												<td>2019.02.08</td>
												<th>수급현황</th>
												<td style="padding: 10px 0 7px 5px;"></td>
												<th>생신일</th>
												<td class="dotdotdot" colspan="1">1933.04.13(음력)</td>
											</tr>
											<tr>
												<th>본인부담률</th>
												<td colspan="3" class="btpd">
													<div class="bt_txt_align2">
														기초(0%) (<span class="stxt m_sp">식사재료비 정부지원, 간식비
															정부지원</span>) /
															<span class="btn_injung" obj-type="openLayer"
															btn-rel="mod_patient_change_type"
															page-info="{'type':'modal','view':'/share_layer/patient/mod.patient_type'}"
															param-info="{'type':'modal','pammgno':'237665'}"
															style="width: 140px;">감경률 변경 (감경 100%)</span>
													</div>
													<div class="bt_txt_align">

													</div>
												</td>
												<th>급여한도</th>
												<td>이번달 급여한도</td>
											</tr>
											<tr>
												<th class="m_sp">인정등급/번호</th>
												<td>3등급 / L0010162566 
													<button type="button"  
														data-toggle="modal" data-target="#myModal"
														class="btn btn-default btn-xs btn-line"
														style="float: right;"
														>
														<span class="ui-button-text">등급인정관리</span>
													</button>
												</td>
												<th>인정기간</th>
												
												<td colspan="3" class="btpd">
													<div class="bt_txt_align2">2019.02.08 ~ 2022.02.07</div>
													<div class="bt_txt_align">
													
													</div>
												</td>
											</tr>
											<tr>
												<th>휴대폰</th>
												<td class="dotdotdot"></td>
												<th>전화번호</th>
												<td class="dotdotdot"></td>
											</tr>
											<tr>
												<th>주소(거주)</th>
												<td colspan="5">전주 덕진구 기린대로 406
													<div class="dotdotdot" style="width: 660px;"></div>
												</td>
											</tr>
											<tr>
												<th>주소(우편)</th>
												<td colspan="5">전주 덕진구 기린대로 406
													<div class="dotdotdot" style="width: 660px;"></div>
												</td>
											</tr>
											<tr>
												<th>주요질환</th>
												<td class="dotdotdot"></td>
												<th>비고</th>
												<td colspan="3" class="dotdotdot"></td>
											</tr>
										</tbody>
									</table>
								</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 등급 및 인정기간 관리  Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" style="position: absolute;">
					  <div class="modal-dialog modal-lg">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h1 class="modal-title" id="myModalLabel">등급 및 인정기간 관리</h1>
					      </div>
					      <div class="modal-body">
								<h3>인정기간 이력</h3>
								<div class="row">
									<div id="collapse4" class="col-sm-12">
										<table id="dataTable"
											class="table table-bordered table-condensed table-hover table-striped">
											<thead>
												<tr>
													<th>등급</th>
													<th>인정시작</th>
													<th>인정종료</th>
													<th>인정번호</th>
													<th>비고</th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd">
													<td >등급</td>
													<td>인정시작</td>
													<td>인정종료</td>
													<td>인정번호</td>
													<td>비고</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<h3>이력 등록/수정</h3>
								<div class="row" >
									<div class="col-sm-12" >
										<!-- <form action="#" method="post" class="roundBox"> -->
											<div class="form-group" style="background-color: #CCCCCC; border-radius: 2px; padding: 10px;" >
											<label>등급
											<select>
												<option value="">=등급=</option>
												<option value="01">1등급</option>
												<option value="02">2등급</option>
												<option value="03">3등급</option>
												<option value="04">4등급</option>
												<option value="05">5등급</option>
												<option value="00">등급외</option>
												<option value="12">인지지원</option>
											</select>
											</label>
											<label>유효기간
											<div class="small ui-buttonset" style="margin:0px; display:inline; margin-left:50px;">
									          <input type="radio" name="termYear" value="1" id="termYear1" checked="" class="ui-helper-hidden-accessible"><label for="termYear1" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left ui-state-active" role="button" aria-pressed="true"><span class="ui-button-text">1년</span></label>
									          <input type="radio" name="termYear" value="2" id="termYear2" class="ui-helper-hidden-accessible"><label for="termYear2" class="ui-button ui-widget ui-state-default ui-button-text-only" role="button" aria-pressed="false"><span class="ui-button-text">2년</span></label>
									          <input type="radio" name="termYear" value="3" id="termYear3" class="ui-helper-hidden-accessible"><label for="termYear3" class="ui-button ui-widget ui-state-default ui-button-text-only" role="button" aria-pressed="false"><span class="ui-button-text">3년</span></label>
									          <input type="radio" name="termYear" value="4" id="termYear4" class="ui-helper-hidden-accessible"><label for="termYear4" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" role="button" aria-pressed="false"><span class="ui-button-text">4년</span></label>
									        </div>
											<input type="date">~<input type="date"></label>
											<label>장기요양인정번호
											<input type="text" maxlength="11" placeholder="L0000000000">
											</label>
											<button class="btn btn-metis-5 btn-xs" style="margin: 0 auto;" >등록하기/수정하기</button>
											</div>
										<!-- </form> -->
									</div>
								</div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>

</th:block>
<th:block layout:fragment="customPlugin">

            <!-- jQuery 기본 js파일 -->
            <script src="/assets/lib/jquery/jquery.js"></script>

            <!--Bootstrap -->
            <script src="/assets/lib/bootstrap/js/bootstrap.js"></script>
            <!-- MetisMenu -->
            <script src="/assets/lib/metismenu/metisMenu.js"></script>
            <!-- onoffcanvas -->
            <script src="/assets/lib/onoffcanvas/onoffcanvas.js"></script>
            <!-- Screenfull -->
            <script src="/assets/lib/screenfull/screenfull.js"></script>
            <!-- Metis core scripts -->
            <script src="/assets/js/core.js"></script>
            <!-- Metis demo scripts -->
            <script src="/assets/js/app.js"></script>
            <script src="/assets/js/style-switcher.js"></script>
</th:block>
</html>