<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>test</title>
</th:block>

<th:block layout:fragment="customContents">
<body>
	<div class="bg-dark dk" id="wrap">
		<div id="top">
			<header class="head">
				<div class="main-bar">
				   <h3><i class="fa fa-table"></i>&nbsp;공지사항 리스트</h3>
				</div>
				<!-- /.main-bar -->
			</header>
		<!-- /.head -->
		</div>
	<!-- /#top -->
	</div>
	<div id="content">
		<div class="outer">
			<div class="inner bg-light lter">
				<!-- 테이블 Start -->
				<div id="collapse4" class="body" >
					<div class="row">
						<div class="col-sm-12">
							<div class="box">
								<header>
									<div class="icons">
										<i class="fa fa-table"></i>
									</div>
									<h5>공지사항 리스트</h5>
								</header>
							</div>
							<table class="table table-bordered table-hover" style="font-size: 15px">
								<thead>
									<tr role="row">
										<th>글번호</th>
										<th>글제목</th>
										<th>글쓴이</th>
										<th>글쓴 시간</th>
									</tr>
								</thead>
								<tbody>
								<th:block>
									<tr th:each ="l : ${list}">
										<td th:text="${l.boardNo}"></td>
										<td ><a th:text="${l.boardTitle}" th:href="@{/board/boardDetail(boardNo=${l.boardNo})}"></a></td>
										<td th:text="${l.boardUser}"></td>
										<td th:text="${l.boardDate}"></td>
									</tr>
								</th:block>
								</tbody>
							</table>
							<div id="col-sm-7">
								<a th:href="@{/board/boardlist}">[맨처음]</a>
								<a th:if="${currentPage >1}" th:href="@{/board/boardlist(currentPage-1)}">[이전] </a>
								
								<th:block th:each="num:${#numbers.sequence(startPage,lastPage)}">
									<span th:if="${currentPage == num}" th:text="${'['+ num +']'}"></span>
									<a th:unless="${currentPage == num}" th:text="${'['+ num +']'}"
										th:href=@{/board/boardlist(currentPage=${num})}></a>
								</th:block>
								<a th:if="${currentPage < lastPage}" th:href="@{/board/boardlist(currentPage=${currentPage + 1})}">[다음] </a>
								<a th:if="${currentPage < lastPage}" th:href="@{/board/boardlist(currentPage=${lastPageNum})}">[마지막]</a>
								<a href="/board/boardWirte" class="btn btn-primary btn-sm" style="float: right">글쓰기</a>
							</div>
						
						</div>
					</div>
				</div>
				<!-- 테이블 End -->
			</div>
		</div>
	</div>
</body>
</th:block>
<th:block layout:fragment="customPlugin">
	<!--jQuery -->
            <script src="/assets/lib/jquery/jquery.js"></script>
			
            <!--Bootstrap -->
            <script src="/assets/lib/bootstrap/js/bootstrap.js"></script>
            <!-- MetisMenu -->
            <script src="/assets/lib/metismenu/metisMenu.js"></script>
            <!-- onoffcanvas -->
            <script src="/assets/lib/onoffcanvas/onoffcanvas.js"></script>
            <!-- Screenfull -->
            <script src="/assets/lib/screenfull/screenfull.js"></script>
            <!-- Metis core scripts -->
            <script src="/assets/js/core.js"></script>
            <!-- Metis demo scripts -->
            <script src="/assets/js/app.js"></script>
            <script src="/assets/js/style-switcher.js"></script>
</th:block>
</html>