<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="left" th:fragment="leftmenuFragment">
	<div class="media user-media bg-dark dker">
		<div class="user-media-toggleHover">
			<span class="fa fa-user"></span>
		</div>
		<div class="user-wrapper bg-dark">
			<a class="user-link" href=""> <img
				class="media-object img-thumbnail user-img" alt="User Picture"
				src="/assets/img/user.gif"> <span
				class="label label-danger user-label">16</span>
			</a>

			<div class="media-body">
				<h5 class="media-heading">Archie</h5>
				<ul class="list-unstyled user-info">
					<li><a href="">Administrator</a></li>
					<li>Last Access : <br> <small><i
							class="fa fa-calendar"></i>&nbsp;16 Mar 16:32</small>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- #menu -->
	<ul id="menu" class="bg-blue dker">
		<li class="nav-header">Menu</li>
		<li class="nav-divider"></li>
		
		<!-- 센터관리 -->
		<li class="">
			<a href="javascript:;"> 
				<i class="fa fa-building "></i> 
				<span class="link-title">!센터관리 1</span>
				<span class="fa arrow"></span>
			</a>
			
			<!-- 직원등록 -->
			<ul class="collapse">
				<li>
					<a href="/insertcenter"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;!센터등록 1-1
					</a>
				</li>
				<li>
					<a href="/centerlist"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;!센터조회 1-2
					</a>
				</li>
			</ul>			
		</li>
		
		
		
		<!-- 직원관리 -->
		<li class="">
			<a href="javascript:;"> 
				<i class="fa fa-building "></i> 
				<span class="link-title">!직원관리 2</span>
				<span class="fa arrow"></span>
			</a>
			
			<!-- 직원등록 -->
			<ul class="collapse">
				<li>
					<a href="/insertemp"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;!직원등록 2-1
					</a>
				</li>
				<li>
					<a href="/emplist"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;!직원목록 및 관리 2-2
					</a>
				</li>
			</ul>			
		</li>
	
	<!-- 보호자관리 -->
	<li class="">
		<a href="javascript:;"> 
			<i class="fa fa-building"></i>
			<span class="link-title">#보호자관리 3</span> 
			<span class="fa arrow"></span>
		</a>
		<ul class="collapse">
			<li>
				<a href="#"> 
				<i class="fa fa-angle-right"></i>
				&nbsp;#보호자등록 3-1
				</a>
			</li>

			<li>
				<a href="#"> 
				<i class="fa fa-angle-right"></i>
				&nbsp;#보호자검색 3-2
				</a>
			</li>
		</ul>
	</li>
	
	<!-- 수급자관리 -->	
	<li class="">
		<a href="javascript:;"> 
			<i class="fa fa-building"></i>
			<span class="link-title">!수급자관리 4</span> 
			<span class="fa arrow"></span>
		</a>
			<ul class="collapse">
				<li>
					<a href="/employee/elderInsert"> 
					<i class="fa fa-angle-right"></i>
					&nbsp;!수급자등록 4-1
				</a>
				</li>
				<li>
					<a href="/employee/elderList">
					<i class="fa fa-angle-right"></i>
					&nbsp;!수급자검색 4-2
				</a>
				</li>
				<li>
					<a href="/table"> 
					<i class="fa fa-angle-right"></i>
					&nbsp;!테스트용
				</a>
				</li>
			</ul>
	</li>
		<!-- 방문일정관리 -->	
		<li class="">
		<a href="javascript:;"> 
			<i class="fa fa-building"></i>
			<span class="link-title">#방문일정관리 9</span> 
			<span class="fa arrow"></span>
		</a>
			<ul class="collapse">
				<li><a href="#"> <i
						class="fa fa-angle-right"></i>&nbsp;#방문일정등록(수급자) 9-1
				</a></li>
				<li><a href="#"> <i
						class="fa fa-angle-right"></i>&nbsp;#방문일정검색 수급자별 9-2
				</a></li>
				<li><a href="#"> <i
						class="fa fa-angle-right"></i>&nbsp;#방문일정검색 요양보호사별 9-3
				</a></li>	
				<li><a href="#"> <i
						class="fa fa-angle-right"></i>&nbsp;#방문일정검색 기간별 9-4
				</a></li>								
			</ul>
		</li>	
	
		<!-- 태그 비교관리 -->
		<li class="">
			<a href="javascript:;"> 
				<i class="fa fa-building"></i> 
				<span class="link-title">#태그 관리 10</span>
				<span class="fa arrow"></span>
			</a>
			<ul class="collapse">
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#태그 리스트 조회 및 검색 10-1
					</a>
				</li>
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#태그 와 방문 일정 비교 10-2
					</a>
				</li>

			</ul>
		</li>	
	
		<!-- 방문일정 대비 예상청구비용 -->
		<li class="">
			<a href="javascript:;"> 
				<i class="fa fa-building"></i> 
				<span class="link-title">&nbsp;#방문일정 &nbsp;대비 &nbsp;예상청구비용 &nbsp;11</span>
				<span class="fa arrow"></span>
			</a>
			<ul class="collapse">
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#방문일정 대비 예상청구비용 관리 11-1
					</a>
				</li>
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#방문일정 대비 예상청구비용 검색 11-2
					</a>
				</li>
			</ul>
		</li>		
	
		<!--  태그 결과값 대비 공단 청구액 -->
		<li class="">
			<a href="javascript:;"> 
				<i class="fa fa-building"></i> 
				<span class="link-title">&nbsp;#태그&nbsp; 결과값&nbsp; 대비 공단 청구액 12</span>
				<span class="fa arrow"></span>
			</a>
			<ul class="collapse">
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#태그 결과값 대비 공단 청구액 관리 12-1
					</a>
				</li>
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#태그 결과값 대비 공단 청구액 검색 12-2
					</a>
				</li>
			</ul>
		</li>	
		
		<!--  태그 결과값 대비 수급자 청구액 -->
		<li class="">
			<a href="javascript:;"> 
				<i class="fa fa-building"></i> 
				<span class="link-title">#태그 결과값 대비 수급자 청구액 13</span>
				<span class="fa arrow"></span>
			</a>
			<ul class="collapse">
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#태그 결과값 대비 수급자 청구액 관리 13-1
					</a>
				</li>
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#태그 결과값 대비 수급자 청구액 검색 13-2
					</a>
				</li>
			</ul>
		</li>			
		
		<!--  공단 및 수급자 수금 및 미납금 -->
		<li class="">
			<a href="javascript:;"> 
				<i class="fa fa-building"></i> 
				<span class="link-title">#공단 및 수급자 수금 및 미납금 14</span>
				<span class="fa arrow"></span>
			</a>
			<ul class="collapse">
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#공단 및 수급자 수금 및 미납금 관리 14-1
					</a>
				</li>
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#공단 및 수급자 수금 및 미납금 검색 14-2
					</a>
				</li>
			</ul>
		</li>		
		<!--  직원 급여 관리  -->
		<li class="">
			<a href="javascript:;"> 
				<i class="fa fa-building"></i> 
				<span class="link-title">!직원 급여 관리 15</span>
				<span class="fa arrow"></span>
			</a>
			<ul class="collapse">
				<li>
					<a href="/employee/employeeSalary"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;!직원 급여  관리 15-1
					</a>
				</li>
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#직원 급여  확정(등록) 15-2
					</a>
				</li>
				<li>
					<a href="#"> 
						<i class="fa fa-angle-right"></i>
						&nbsp;#직원 급여  검색 15-3
					</a>
				</li>				
			</ul>
		</li>
        <li class="">
			<a href="/benefitcost">
	       		<i class="fa fa-building"></i>
	       		<span class="link-title">&nbsp;!수급 현황 16</span>
	        </a>
        </li>
	</ul>
	<!-- /#menu -->
</div>
<!-- /#left -->

</html>