<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<!-- 사용자css -->
<th:block layout:fragment="customCss">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css">
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script src="/vendor/js/visit.js"></script> -->
	​<style>
		body {background-color: #333;}
		#left{position: relative}
		.dataTable_filter {float:rigth;}
	</style>
</th:block>
<th:block layout:fragment="customContents">
<div id="content">
	 <header class="head" >
		<div class="main-bar">
			<h3>
				<i class="fa fa-calendar">&nbsp;방문일정 대비 예상청구비용 관리</i>
			</h3>
		</div>
	</header>
	<div class="outer">
		<div class="inner bg-light lter">
			<!--Begin Datatables-->
			<div class="row">
				<!--수급자 목록-->
				<div class="col-lg-12">
					<div class="box">
						<header>
							<div class="icons">
								<i class="fa fa-table"></i>
							</div>
							<h5>예상청구비용 </h5>
						</header>
						<div id="collapse4" class="body">
							<div style="float:left;">
							<select name ="syear" class="autotab input-sm" id="syear">
								<option th:value="2020">2020</option>
								<option th:value="2019">2019</option>
								<option th:value="2018">2018</option>
							</select>
							<select name ="smonth" class="autotab input-sm" id="smonth">
							<th:block th:each="num: ${#numbers.sequence(1,12)}">
								<option th:value="${num}" th:selected="${num} == ${#calendars.format(#calendars.createNow(), 'M')}">[[${num}]]</option>
							</th:block>
							</select>	
							</div>			
							<table id="dataTable"
								class="table table-bordered table-condensed table-hover sortableTable">
								<thead>
									<tr>
							 			<th>수급자상태</th>
										<th>이름</th>
										<th>생년월일</th>	
										<th>성별</th>																			
										<th>최대한도</th>
										<th>공단 부담금</th>
										<th>본인부담금</th>
										<th>서비스 횟수</th>										
									</tr>
								</thead>
								<tbody>
									<tr th:each="e: ${list}">
									    <td class="t1" th:text="${e.elderFinalServiceStatus}"></td>
										<td class="t3">
											<a 	href="javascript:void(0)" 
												class="elderId" 
												th:data-elder-id ="${e.elerId}" 
												th:data-elder-name="${e.elderName}"
											>
												[[${e.elderName}]]
											</a>
										</td>
										<td class="t4" th:text="${e.elderBirthDate}"></td>
										<td class="t5" th:text="${e.elderGender}"></td>										
										<td class="t4" th:text="${e.maxCost}"></td>
										<td class="t5" th:text="${e.benefitCost}"></td>
										<td class="t6" th:text="${e.nonBenefitCost}"></td>
										<td class="t7" th:text="${e.totolNum}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--/수급자 목록-->
	 			

			    <!-- 상세보기 -->
			    <div class="col-lg-12" id="sTable" style= "display:none;">
			        <div class="box">
			            <header>
			                <h5 id="setitle">상세정보</h5>
			                <div class="toolbar">
					          <div class="btn-group">
			                    <a href="#defaultTable" data-toggle="collapse" class="btn btn-sm btn-default minimize-box">
			                        <i class="fa fa-angle-up"></i>
			                    </a>
			                    <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
					          </div>
			                </div>
			            </header>
			            <div id="defaultTable" class="body collapse in">
			                <table class="table responsive-table">
			                    <thead>
			                        <tr>
			                            <th>날짜</th>
			                            <th>서비스 종류</th>			                            
			                            <th>서비스 상세</th>
			                            <th>공단부담금</th>
			                            <th>본인부담금</th>
			                        </tr>
			                    </thead>
			                    <tbody>
			                        <tr>                                                     
			                        </tr>
			                    </tbody>       
			                </table>
			            </div>
			        </div>
			    </div>
			    <!-- /상세보기 -->
			    
			 </div>
			</div>
		</div>	
	</div>
</th:block>

<th:block layout:fragment="customPlugin">
    <script src="/assets/lib/jquery/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.6/js/jquery.tablesorter.min.js"></script> -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> -->

    <!--Bootstrap -->
    <script src="/assets/lib/bootstrap/js/bootstrap.js"></script>
    <!-- MetisMenu -->
    <script src="/assets/lib/metismenu/metisMenu.js"></script>
    <!-- onoffcanvas -->
    <script src="/assets/lib/onoffcanvas/onoffcanvas.js"></script>
    <!-- Screenfull -->
    <script src="/assets/lib/screenfull/screenfull.js"></script>

    <script src="/vendor/js/estimatEdexpenses.js"></script>

    <!-- Metis core scripts -->
    <script src="/assets/js/core.js"></script>
    <!-- Metis demo scripts -->
<!--     <script src="/assets/js/app.js"></script> -->

<!--     <script src="/assets/js/style-switcher.js"></script> -->
</th:block>
</html>
		